[submodule "abaco-cli"]
	path = abaco-cli
	url = https://github.com/TACC-Reactors/abaco-cli.git
	branch = master
[submodule "agave-cli"]
	path = agave-cli
	url = https://github.com/TACC-Cloud/agave-cli.git
	branch = develop
