# TACC.Cloud variables
#
# Human-readable name of your TACC Cloud API tenant
export TENANT_NAME=TACC.Cloud
# Official tenant name (see https://tacc.cloud/tenants for options)
export TENANT_KEY=tacc.prod
# Namespace for assets tailored to this deployment
export TENANT_NS=tacc
# Community project (for access to default resources)
export TENANT_PROJECT=TACC-Cloud-Community

# Docker
export TENANT_DOCKERFILE=Dockerfile
export TENANT_DOCKER_ORG=TACC
export TENANT_DOCKER_TAG=cloud-cli
export AGAVE_DOCKER_ORG=agaveapi

# Destination repository
export TENANT_CLI_REPO=https://github.com/TACC/cloud-cli
export TENANT_CLI_BRANCH=master

# Submodules
export CLI_BASE_REPO=https://bitbucket.org/tacc-cic/cli
export CLI_BASE_BRANCH=master
export CLI_BASE_DEST=tacc-cli-base

export CLI_DOCS=
export CLI_DOCS_BRANCH=
export CLI_DOCS_DEST=docs

export CLI_EXTRAS_REPO=
export CLI_EXTRAS_BRANCH=
export CLI_EXTRAS_DEST=extras

# Make support
export MAKE_OBJ=tacc-cloud-cli
